<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      registro de calificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="text-center">
    <ion-label style="display: inline-block;
      background-color: #ff0000;
      border: 2px solid #ff0000;
      color: #f60000;
      padding: 4px 8px;
      border-radius: 5px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.2);
      box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.1);">
      Agrega un estudiante nuevo con sus calificaciones
    </ion-label>
    <br><br><br>

    <!-- Inicio del formulario -->
    <form (submit)="addTask(); $event.preventDefault();">
      <ion-label class="text-gray-400 text-lg font-semibold">Nombre del estudiante:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newTaskName" name="taskName" placeholder="Nombre//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">apellido del estudiante:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newapellidoName" name="apellidoName" placeholder="apellido//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">Matricula del estudiante:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newMatriculaName" name="MatriculaName" placeholder="Matricula//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">Calificacion de la materias</ion-label><br>
      <ion-label class="text-gray-400 text-lg font-semibold">DAMM:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newDAMMName" name="DAMMName" placeholder="DAMM//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">OCA:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newOCAName" name="OCAName" placeholder="OCA//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">PMP:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newPMPName" name="PMPName" placeholder="PMP//" required /><br>

      <ion-label class="text-gray-400 text-lg font-semibold">M3D:</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="text"
        [(ngModel)]="newM3DName" name="M3DName" placeholder="M3D//" required /><br>

      <button
        class="focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
        type="submit">Agregar</button><br>
    </form>
    <br><br>

    <ion-label style="display: inline-block;
      background-color: #c37c7c;
      border: 2px solid #bf5d5d7d;
      color: #72b8c1;
      padding: 4px 8px;
      border-radius: 5px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(76, 0, 255, 0.2);
      box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.1);">
      estudiantes Agregados
    </ion-label>
    <br><br>

    <!-- Tabla de tareas -->
    <table>
      <thead>
        <tr>
          <th class="text-red-400 text-lg font-semibold">ID</th>
          <th class="text-red-400 text-lg font-semibold">Nombre</th>
          <th class="text-red-400 text-lg font-semibold">Apellido</th>
          <th class="text-red-400 text-lg font-semibold">Matrícula</th>
          <th class="text-red-400 text-lg font-semibold">DAMM</th>
          <th class="text-red-400 text-lg font-semibold">OCA</th>
          <th class="text-red-400 text-lg font-semibold">PMP</th>
          <th class="text-red-400 text-lg font-semibold">M3D</th>
          <th class="text-red-400 text-lg font-semibold">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks$ | async">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.Matricula }}</td>
          <td>{{ item.DAMMN }}</td>
          <td>{{ item.OCA }}</td>
          <td>{{ item.PMP }}</td>
          <td>{{ item.M3D }}</td>
          <td>
            <button *ngIf="editingTaskId !== item.id" (click)="startEdit(item)">Editar</button>
            <button *ngIf="editingTaskId === item.id" (click)="saveEdit(item.id!)">Guardar</button>
            <button [disabled]="!item.id" (click)="deleteTask(item.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button (click)="onLogout()">Cerrar sesion</button>
  </div>
</ion-content>